@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

:root {
    --background: #fff;

    --navbar_background: #5085ec;
    --navbar_border: #a7a7aa;

    --block_structure: #fefefe;
    --block_structure_element: #c7c7cb;

    --button_color: #3478f6;
    --button_color_hover: #dceafd;
    --button_color_active: rgba(53, 153, 246, 0.4);

    --output_error_orange: #dd8f00;
    --output_error_red: #e50000;
}

/*==== Basico ====*/
body {
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: var(--background);
    background-size: var(--backgroundsize);
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000
}

a {
    text-decoration: none;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

tr, th, tr, td, .log {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
/*== Basico ==*/

/*==== Navbar ====*/
#navbar {
    z-index: 2;
    background-color: #5085ec;
    position: fixed;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

#navbar h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    line-height: 45px;
    color: #fff
}
/*== Navbar ==*/

/*==== Structure ====*/
#structure {
    z-index: 1;
    padding: 44px 0 10px;
}
/*== Structure ==*/

/*==== Block ====*/
#block {
    margin: 6px 0;
}
#block h2 {
    padding: 8px 10px 2px;
    font-size: 16px;
    margin: 0;
}

#block #block_structure {
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--block_structure);
    border-left: 0;
    border-right: 0;
}

#block #block_structure #element {
    padding: 0px 10px;
}

#block #block_structure.block_files #element {
    padding: 0;
}

span.log{
    font-family: monospace;
}

#Output_error_gyms {
    color: var(--output_error_orange);
}

#Output_error_no_valid_gyms, #Output_error_exareas, #Output_error_exclusionareas {
    color: var(--output_error_red);
}
/*== Block ==*/

/*==== Button ====*/
#button_structure {
    display: flex;
	flex-flow: row;
	position: relative;
	box-sizing: border-box;
}


#input_button_structure {
    width: 100%;
    margin: 4px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	position: relative;
	box-sizing: border-box;
}

#block #block_structure #element.files > div {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

button, input[type=file] + label, #button_structure > div {
    margin: 5px 0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
    min-width: 64px;
    min-height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #fff;
    background-color: #2196f3;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

button {
    margin: 5px 3px;
}

input[type=file]#gymsfile + label {
    background-color: #6d90af;
}

input[type=file]#EXareasfile + label {
    background-color: #69be65;
}

input[type=file]#exclusionareasfile + label {
    background-color: #5756ce;
}

button::-moz-focus-inner, input[type=file] + label::-moz-focus-inner, #button_structure > div::-moz-focus-inner {
    border: none;
}

/* Overlay */
button::before,
button::after, input[type=file] + label::before, input[type=file] + label::after, #button_structure > div::before, #button_structure > div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0;
}

button::before, input[type=file] + label::before, #button_structure > div::before {
    transition: opacity 0.2s;
}

button::after, input[type=file] + label::after, #button_structure > div::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
    transition: opacity 1s, background-size 0.5s;
}

/* Hover, Focus */
button:hover,
button:focus, input[type=file] + label:hover, input[type=file] + label:focus, #button_structure > div:hover, #button_structure > div:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

button:hover::before, input[type=file] + label:hover::before, #button_structure > div:hover::before {
    opacity: 0.08;
}

button:focus::before, input[type=file] + label:focus::before, #button_structure > div:focus::before {
    opacity: 0.24;
}

button:hover:focus::before, input[type=file] + label:hover:focus::before, #button_structure > div:hover:focus::before {
    opacity: 0.32;
}

/* Active */
button:active::after, input[type=file] + label:active::after, #button_structure > div:active::after {
    opacity: 0.32;
    background-size: 100% 100%;
    transition: background-size 0s;
}

/* Disabled */
button:disabled, input[type=file] + label:disabled, #button_structure > div:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
}

button:disabled::before,
button:disabled::after, input[type=file] + label:disabled::before, input[type=file] + label:disabled::after, #button_structure > div:disabled::before, #button_structure > div:disabled::after {
    opacity: 0;
}


#button_structure > div, #button_structure > div:hover, #button_structure > div:focus {
    box-shadow: none;
}

#button_structure > div {
    flex-grow: 1;
    margin: 5px 3px;
    border-radius: 40px;
    padding: 0 10px;
    min-width: 64px;
    height: 30px;
    min-height: 30px;
    color: #000;
    background-color: #e0e0e0;
    f2ont-size: 14px;
    line-height: 30px;
}

#button_structure > div.selected {
    border-color: #c4c4c4;
    background-color: #f2edfd;
    color: #571ee5;
}

#button_structure > div:first-child {
    margin-left: 0;
}

#button_structure > div:last-child {
    margin-right: 0;
}


input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file] + label {
    flex-grow: 1;
    cursor: pointer;
    width: 100%;
    min-height: 26px;
    line-height: 26px;
    padding: 3px 6px;
}

span.inputfile {
    font-size: 12px;
    font-style: italic;
}




#text_block {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

#text_block.info {
    text-align: justify;
}

/*==== Tables ====*/
#Output_table_data {
    border-collapse:collapse;
    width: 100%
}

#Output_table_data th {
    background-color:#000;
    color:#fff;
}

#Output_table_data td, #Output_table_data th {
    padding:5px;
    border:1px solid #000;
}

#Output_table_data tr.ex {
    background-color:#d7ffd7;
}

#Output_table_data tr.blocked {
    background-color:#ffd7d7;
}


/*== Tables ==*/


@media only screen and (device-width : 375px) and (width : 812px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    #block h2 {
        padding: 8px 44px 2px;
    }

    #block #block_structure #element {
        padding: 10px 44px;
    }

    #text_block {
        padding: 0 44px;
    }

    #Output_table_data td:first-child, #Output_table_data th:first-child {
        padding-left: 40px;
    }

    #Output_table_data td:last-child, #Output_table_data th:last-child {
        padding-right: 40px;
    }
}